@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Syne:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	font-family: "Syne", sans-serif;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Select Input Styles */

select {
	outline: none;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
}

select::-ms-expand {
	display: none;
}

.select {
	position: relative;
	display: flex;
	width: 100%;
	overflow: hidden;
}

.select::after {
	content: url("/assets/images/chevron-down.svg");
	width: 24px;
	height: 24px;
	object-fit: cover;
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 1rem;
	pointer-events: none;
}

.none-select {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

input:-webkit-autofill {
	-webkit-text-fill-color: black;
	-webkit-box-shadow: 0 0 0 30px transparent inset !important;
}

.image-container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 140px);
	width: 100vw;
	z-index: -1;
	top: 140px;
	left: 0;
}

.image-container img {
  position: absolute;
  height: 60vh;
  max-width: 80vw;
  width: auto;
  transition: transform 1s ease-in-out, opacity 0.2s ease-in-out;
  z-index: 98;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
    0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.04),
    0 16px 32px rgba(0, 0, 0, 0.04), 0 32px 64px rgba(0, 0, 0, 0.04);
}


.image-container img.active {
	z-index: 99;
}

.title-container {
	position: relative;
	display: block;
	padding-top: 200px;
}

.title-container h1 {
	font-size: 60px;
	font-weight: 600;
	transition: color 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  .title-container h1 {
    font-size: 32px;
  }
}

.title-container:hover h1 {
	color: #bababa;
	cursor: pointer;
}

.title-item:hover h1 {
	color: #2d2d2d;
}

.gradient-fade {
	height: 200px;
	width: 100%;
	background-image: linear-gradient();
}

.clients-page * {
	font-family: "Lato", sans-serif;
}

.custom-cursor {
	position: fixed;
	top: 0;
	height: 32px;
	width: 32px;
	background-color: black;
	border-radius: 100%;
	z-index: 100;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 1023px) {
  .custom-cursor {
    display: none;
  }
}

/* Styles for the Featured In Section */
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
.animate-scroll {
	animation: scroll 15s linear infinite;
}

.calendly-overlay .calendly-popup {
	max-height: 800px;
	overflow-y: hidden;
}

/* Styles for the mobile nav bar */
.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 18px;
}

.nav-rect {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s;
}

/* Media query for the product grid */
@media screen and (min-width: 500px) {
  .grid-size {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

// Styles for the loader
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
// @import "./_mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Oswald:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
}

:root {
  --main-color: #394437;
  --secondary-color: #3d5549;
  --bg-color: white;
  --loader-color: #AF9E7F;
}

body {
  font-family: "Space Grotesk", sans-serif;

  background-color: var(--bg-color);
}

.loader-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  padding-right: 50px;
  padding-bottom: 50px;
  justify-content: flex-end;
  align-items: flex-end;

  background-color: var(--loader-color);

  .brand-name {
    z-index: 9999;
    margin-top: 0px;
    margin-bottom: 1vw;
    color: var(--secondary-color);
    font-size: 15vw;
    line-height: 15vw;
    font-weight: 300;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .counter-container {
    overflow: hidden;
    height: 13vw;
    min-height: 13vw;
  }

  h3 {
    z-index: 9999;
    margin-top: 0px;
    margin-bottom: 1vw;
    color: var(--secondary-color);
    font-size: 13vw;
    line-height: 13vw;
    font-weight: 300;
  }
}
.hero-container {
  position: relative;
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero-title {
    position: absolute;
    bottom: 5vw;
    left: 5vw;

    font-size: clamp(72px, 15vw, 15vw);
    color: white;
    font-family: "Oswald", sans-serif;

    text-transform: lowercase;
    font-weight: 100;
  }
}

.intro-container {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);

  p {
    max-width: 800px;
    color: var(--main-color);
    font-size: 26px;
    line-height: 2;
    font-weight: 300;
    text-align: center;
  }
}

.price {
  font-family: "Lato", sans-serif;
}